{% load static %}
{% load cart_tags %}
 
{% user_cart request as carts %}
  <!-- Start Cart -->
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="table-responsive">
          <table class="cs_cart_table">
            <thead>
              <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for cart in carts %}
              <tr>
                <td>
                  <div class="cs_cart_table_media">
                    <!--<img src={{ cart.product.image }} alt="Thumb">-->
                    <h3>{{ cart.product.name }}</h3>
                  </div>
                </td>
                <td>{{ cart.product.price }}₽</td>
                <td>
                  <div class="cs_quantity input-group">
                      <!-- <button class="cs_quantity_btn cs_increment increment" 
                      data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">{% csrf_token %}<i class="fa-solid fa-angle-up"></i></button> -->
                    <span class="cs_quantity_input number">{{ cart.quantity }}</span>                   
                      <!-- <button class="cs_quantity_btn cs_decrement decrement" 
                      data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">{% csrf_token %}<i class="fa-solid fa-angle-down"></i></button>                    -->
                  </div>
                </td>
                <td>{{ cart.products_price }}₽</td>
                <!-- <td class="text-center">
                  <a href="{% url 'cart:cart_remove' %}" class="remove-from-cart" data-cart-id="{{ cart.id }}">
                    {% csrf_token %}<button class="cs_cart-table-close"><i class="fa-solid fa-xmark"></i></button></a>
                </td> -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="cs_height_30 cs_height_lg_30"></div>
      </div>
     
      <div class="col-xl-4">
        <div class="cs_shop-side-spacing">
          <div class="cs_shop-card">
            <div class="cs_height_30 cs_height_lg_30"></div>
            <h2 class="cs_fs_21 cs_medium">Итого {{ carts.total_quantity }} товар(а) на сумму</h2>
            <table class="cs_medium">
              <tbody>
                <tr>
                  <td>{{ carts.total_price }}₽</td>
                </tr>
              </tbody>
            </table>
            <div class="cs_height_30 cs_height_lg_30"></div>
          </div>
          <div class="cs_height_30 cs_height_lg_30"></div>
        </div>
      </div>
      
      
    </div>
  </div>
  <!-- End Cart -->