{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Start Page Heading -->
  <!-- <section class="cs_page_heading text-center position-relative cs_bg_filed" data-src="assets/img/shop_bg.jpg">
    <div class="cs_hero_overlay position-absolute"></div>
    <div class="container position-relative">
      <h2 class="cs_fs_50 cs_bold cs_white_color mb-0">Contact Us</h2>
    </div>
  </section> -->
  <!-- End Page Heading -->
  <!-- Start contact -->
  <section >
    <div class="cs_height_140 cs_height_lg_80"></div>
    <div class="container">
      <div class="row cs_gap_y_50 align-items-center">
        <div>
          <h2 class="cs_section_title cs_fs_50 cs_bold mb-0">Свяжитесь с нами</h2>
          <div class="cs_height_16 cs_height_lg_16"></div>
          <p class="cs_section_subtitle mb-0">
            Мы здесь, чтобы помочь вам всеми возможными способами. Если у вас есть вопросы, замечания или отзывы, не стесняйтесь обращаться к нашей преданной команде. Мы стремимся предоставить вам лучший сервис.
          </p>
        </div>
        </div>
      </div>
    </div>
    <div class="cs_height_140 cs_height_lg_80"></div>
  </section>

  <!-- End contact -->
{% endblock %}